node_modules
.git
.gitignore
.gitattributes
*.md
!README.md
docker-compose*.yml
.env
.env.*
!.env.production
.wwebjs_cache
.wwebjs_auth
.editorconfig
.prettierrc
.trae
.next
coverage
storage/backups
*.log
.github
.vscode
.idea
